[Unit]
Description=Chat Application Backend
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/dotnet /opt/chapplication/back.dll
WorkingDirectory=/opt/chapplication/
Environment=DOTNET_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:5001
User=www-data
Group=www-data
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=chapplication
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target